<h1>Editing cart saved</h1>

<%= render "form", cart_saved: @cart_saved %>

<br>

<div>
  <%= link_to "Show this cart saved", @cart_saved %> |
  <%= link_to "Back to cart saveds", cart_saveds_path %>
</div>
