<h1>Editing invoice historic</h1>

<%= render "form", invoice_historic: @invoice_historic %>

<br>

<div>
  <%= link_to "Show this invoice historic", @invoice_historic %> |
  <%= link_to "Back to invoice historics", invoice_historics_path %>
</div>
