
<h4 class="text-pink text-center">Show</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Entrepreneur/Company</th>
      <th scope="col">User</th>
      <th scope="col">Plan Selected</th>
      <th scope="col">Duration</th>
      <th scope="col">Price(kz)</th>
      <th scope="col">Day used</th>
      <th scope="col">Activated</th>
      <th scope="col">First time</th>
      <th scope="col">Ação</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <div id="plans_selecteds">
     <tr>
      <%= render @plans_selected %>
     </tr>
  </div>
 
  </tbody>
</table>
