<h1>Editing invoice temp</h1>

<%= render "form", invoice_temp: @invoice_temp %>

<br>

<div>
  <%= link_to "Show this invoice temp", @invoice_temp %> |
  <%= link_to "Back to invoice temps", invoice_temps_path %>
</div>
