<div id="<%= dom_id plan %>">
  <p>
    <strong>Sign date:</strong>
    <%= plan.sign_date %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= plan.expiration_date %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= plan.company_id %>
  </p>

</div>
