<div class="container py-3" >
  <h4 class="text-center text-pink"> Plans </h4>
    <div class="row row-cols-1 row-cols-md-3 mb-3"  id="plans">
        <% @plans.each do |plan| %>
          <%= render plan %>
        <% end %>
    </div>
</div>
