
<!-- Nav bar -->
<% if user_signed_in? %>
  <ul class="nav justify-content-end my-2">
        <li class="nav-item">
      <%= link_to "Add itens to cart", add_cart_items_url, class: "nav-link active text-dark"%> 
    </li>

    <li class="nav-item">
      <%= link_to "Carrinho", cart_temps_path, class: "nav-link active text-dark"%> 
    </li>
    <li class="nav-item">
      <form action="/cart_temps/add_with_sanner" method="get" id="target" accept-charset="UTF-8" >
        <input id="query" name="query" type="text" class="form-control" 
        placeholder="Código do item" oninput="this.form.submit()" autofocus/>
      </form>
    </li>
  </ul>
<% end %>
<!-- End Nav bar -->
