
<!-- Nav bar -->
<% if user_signed_in? %>
  <ul class="nav justify-content-end my-2">
        <li class="nav-item">
      <%= link_to "Add itens to cart", add_cart_items_url, class: "nav-link active text-dark"%> 
    </li>

    <li class="nav-item">
      <%= link_to "Carrinho", cart_temps_path, class: "nav-link active text-dark"%> 
    </li>
    <li class="nav-item">
      <div class="mb-3">
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Código do produto">
      </div>
    </li>
  </ul>
<% end %>
<!-- End Nav bar -->

